<h2>Product's List</h2>

<div>
    <table class="product-table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let product of products; let i = index">
                <td>
                    <select [(ngModel)]="product.name" (change)="onProductChange(i)">
                        <option value="" disabled selected>Choose product</option>
                        <option *ngFor="let item of productList" [value]="item" [disabled]="isProductSelected(item)">
                            {{item}}</option>
                    </select>
                </td>

                <td>
                    <select [(ngModel)]="product.quantity" (change)="onQuantityChange(i)"
                        [ngClass]="{'error-border': quantityError[i]}">
                        <option value="" disabled selected>Choose quantity</option>
                        <option *ngFor="let qty of quantityList" [value]="qty">{{qty}}</option>
                    </select>

                </td>
                <td>
                    <button *ngIf="product.name && product.quantity != null" (click)="addProduct(i)">Add</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div>
    <small>To see your selected click -</small>
    <button id="btn" (click)="showOrder()">Show Order</button>
</div>